on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

env:
  TF_IN_AUTOMATION: true
  MODERNISATION_PLATFORM_ACCOUNT_ID: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_ID }}
  PASSPHRASE: ${{ secrets.PASSPHRASE }}

permissions: {}

jobs:
  fetch-secrets:
    uses: ministryofjustice/modernisation-platform-github-actions/.github/workflows/aws-secrets-management.yml@3f9fb1af00462c69c806640652ddf41292963615 # v3.2.5
    permissions:
      id-token: write
      contents: read
    secrets:
      MODERNISATION_PLATFORM_ACCOUNT_NUMBER: ${{ secrets.MODERNISATION_PLATFORM_ACCOUNT_ID }}
      PASSPHRASE: ${{ secrets.PASSPHRASE }}

  go-tests:
    permissions:
      contents: read
      actions: write
    name: Run Go Unit Tests
    runs-on: ubuntu-latest
    needs: fetch-secrets
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Decrypt Secrets
        uses: ministryofjustice/modernisation-platform-github-actions/decrypt-secrets@3f9fb1af00462c69c806640652ddf41292963615 # v3.2.5
        with:
          testing_ci_iam_user_keys: ${{ needs.fetch-secrets.outputs.testing_ci_iam_user_keys }}
          PASSPHRASE: ${{ secrets.PASSPHRASE }}

      - name: Export Testing_CI credentials from JSON
        run: |
          echo "${TESTING_CI_IAM_USER_KEYS}" > keys.json
          echo "::add-mask::$(jq -r '.AWS_ACCESS_KEY_ID' keys.json)"
          echo "::add-mask::$(jq -r '.AWS_SECRET_ACCESS_KEY' keys.json)"
          echo "AWS_ACCESS_KEY_ID=$(jq -r '.AWS_ACCESS_KEY_ID' keys.json)" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=$(jq -r '.AWS_SECRET_ACCESS_KEY' keys.json)" >> $GITHUB_ENV
          
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      
        with:
          go-version: 1.24
          cache-dependency-path: "**/go.sum"
      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ~1.3
          terraform_wrapper: false
      - name: Download Go Modules
        working-directory: test
        run: go mod download
      - name: Run Go Tests
        working-directory: test
        run: |
          chmod 700 ../scripts/redact-output.sh
          go test -v | ../scripts/redact-output.sh
          exit ${PIPESTATUS[0]}
